body{
    margin: 0%;
    padding: 0%;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-content{
    width: 100%;
    position: relative;
    display: inline-block;
}
.welcome-content-main, .welcome-content-fotofilm, .welcome-content-design, .welcome-content-teknik{
    width: 100%;
    height: 100%;
    position: relative;
}
.blurdiv-fotofilm, .blurdiv-design, .blurdiv-teknik{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(1px);
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-content-main{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/welcome.jpg");
}

.blurdiv-fotofilm{
    background-image: url("../images/fotofilm.jpg");
}
.blurdiv-design{
    background-image: url("../images/design.jpg");
}
.blurdiv-teknik{
    background-image: url("../images/programmer.jpg");
}

.welcome-content .h1-box{
    display: inline-block;
}
.h1-box>h1{
    color: white;
    font-size: 60px;
    font-weight: bold;
    padding: 20px;
    text-transform: uppercase;
    background-color: #373737f5;
    box-shadow: -20px 25px 1px rgb(255, 255, 255);
    text-shadow: 1px 1px 10px rgb(67, 67, 67);
}



.program-description{
    text-align: left;
    line-height: 21pt;
    margin-top: 10px;
    margin-bottom: 150px;
    display: inline-block;
}
.program-description>p{
    font-size: 18px;
}   



.bottom{
    width: 100%;
    height: 220px;
    text-align: center;
    background-color: rgb(48, 48, 48);
}
.bottom>p{
    margin: 0%;
    color: white;
    font-weight: bolder;
    padding: 20px;
}
.media>a{
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 40px;
    display: inline-block;
}
.line{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-color: white;
    border-top-width: 1px;
    border-top-style: solid;
}
.powered{
    margin-bottom: 20px;
    color: white;
    font-size: 12px;
    display: inline-block;
}